{{!-- hello {{adress}} --}}
<div class="content">
	<div class="row">
	<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2 class="text-center">This is login page</h2>
			<p class="text-center">Please specify your login</p>
			<form>
				{{input type="text" value=controllers.environment.login}}
				<button type="submit" {{action 'moveToLogin'}}>Submit</button>
			</form>
{{!-- 			{{#if isSubmited}}
				<button {{action 'toggleProperty' 'isExpanded'}}>Move to index</button>
			{{/if}} --}}
			<br>
			<p>Your login is "{{controllers.environment.login}}". Auth state is "{{controllers.environment.isAuthenticated}}"</p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{{outlet}}
